/* body全体-------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font: 14px/1.9 "Noto Sans JP", Arial, Vedana, 游ゴシック, YuGothic,
    "ヒラギノ角ゴ ProN W3", "hiragino kaku Gothic ProN", メイリオ, Meiryo,
    sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  color: black;
  background-color: white;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover,
.active {
  text-decoration: underline black;
}

a:hover,
a:focus,
input:active,
input:focus {
  outline: 0;
}

/* ヘッダー部分 ----------------------------------------------------*/
#header {
  text-align: center;
}

#header h1 {
  padding-top: 40px;
}

#header h1 img {
  width: 142px;
  height: 80px;
}

/* ハンバーガメニューOpenアイコン のspan*/
#hamburgerOpenBtn {
  display: none;
  position: absolute;
  top: 15px;
  right: 17px;
  width: 30px;
  height: 44px;
  cursor: pointer;
  transition: 1s;
}

/* ハンバーガメニューCloseアイコン の三本線マーク */
.navMark {
  display: block;
  position: absolute;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: black;
  transition: 1s;
  border-radius: 5px;
}

#line1 {
  top: 13px;
}

#line2 {
  top: 20px;
}

#line3 {
  top: 27px;
}

#menuNav a {
  color: black;
}

.menuPanel ul {
  list-style: none;
  text-align: center;
  padding-bottom: 20px;
}

.menuPanel ul li {
  display: inline-block;
  margin-left: 50px;
}

/* topImg部分 ----------------------------------------------------*/
#topImg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 528px;
}

#topImg img {
  position: absolute;
  left: 50%;
  max-width: 1280px;
  width: 1280px;
  height: 528px;
  margin-left: -640px;
}

/* 共通コード設定 (messagePart部分) ----------------------------------------------------*/
img {
  max-width: 100%;
  height: auto;
}

/* 各sectionのタイトル(h2)　を指定 */

section {
  clear: both; /*floatプロパ要素　の回り込みを解除する　左,右、中央の要素*/
  padding-top: 70px;
}

section h2 {
  font-family: "Pacifico", cursive;
  width: 60%;
  margin: 0 auto 40px;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  background: url("../images/borderBlack.png") repeat-x 0 50%;
  background-size: 1px 1px;
}

section h2 span {
  background: #fff;
  padding: 0 80px;
}

.guide {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 80px;
}

/*⭐️ galleryPart部分 ----------------------------------------------------*/

#gallerySection {
  padding: 0 !important;
}

#gallerySection header {
  display: none;
}

.flex_gallery-box {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex_gallery-item {
  flex-grow: 1;
  width: 30%;
  height: 100%;
  /* line-height: 0; */
  alt: "";
}

/* projectPart部分 ----------------------------------------------------*/

#projectSection img {
  width: 100%;
  margin-bottom: 30px;
}
/* picture between project and brand部分 ----------------------------------------------------*/

/* brandPart部分 ----------------------------------------------------*/

.under {
  display: flex;
  justify-content: center;
  margin: 0 10%;
  padding-bottom: 80px;
}

.under_in {
  text-align: center;
  min-width: 210px;
  width: 33.3%;
  margin: 0 5%;
}

p.imgBox {
  padding: 80px 50px;
  margin-bottom: 40px;
  line-height: 0 !important;
  background: #f6f6f6;
}

.under_in img {
  width: 100%;
  /* min-width: 110px; */
  height: auto;
}

#backgroundPicture {
  background: url("../images/bgSec04.jpg") no-repeat 100% 100% fixed;
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  padding: 220px 20px;
}

#backgroundPicture img {
  width: auto;
}

/* companyPart部分 ----------------------------------------------------*/
#companySection p {
  margin-top: 0;
  margin-bottom: 5px;
}

.flex-info_box {
  display: flex;
  justify-content: center;
}

.flex-info_item {
  list-style: none;
  display: inline-block;
  width: 80%;
  margin: 20px 0;
  padding: 0;
}

#text-info {
  padding-right: 20px;
}

#sns img {
  padding: 35px 10px 5px 0;
}

#sns a:hover img {
  opacity: 0.8;
}

#map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  z-index: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}

/* footer部分 ----------------------------------------------------*/

/* メディアクエリ部分 画面サイズ毎の設定----------------------------------------------------*/

/*画面サイズ1200px以上---------------------------------------------------*/
@media only screen and (min-width: 1200px) {
  .under {
    width: 1200px;
  }
}
/*画面サイズ800px以上----------------------------------------------------*/
@media only screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }

  .menuPanel {
    display: block !important;
  }

  menuNav li {
    display: inline-block;
    padding: 50px 25px;
    font-size: 15px;
  }
}

/*画面サイズ641px以上----------------------------------------------------*/
@media only screen and (min-width: 641px) {
}

/*画面サイズ640以下----------------------------------------------------*/
@media only screen and (max-width: 640px) {
}

/*画面サイズ799px以下----------------------------------------------------*/

@media only screen and (max-width: 799px) {
  #header {
    position: fixed;
    width: 100%;
    z-index: 500;
  }

  #headerPart {
    position: relative;
    width: 100%;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #ccc;
  }

  #header h1 {
    padding-top: 10px;
    margin: 0;
    padding: 0;
  }

  #header h1 img {
    margin-top: 15px;
    max-height: 45px;
    width: auto !important;
  }

  .menuPanel {
    display: none;
  }

  #hamburgerOpenBtn {
    display: block;
  }

  .under {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .under_in {
    margin: 0;
    flex-grow: 1;
    /* margin: 50px auto; */
  }

  #topImg {
    padding-top: 60px;
    z-index: -100;
  }

  section {
    padding-top: 50px;
  }

  section h2 {
    margin-top: 0 auto 20px;
  }

  section h2 span {
    padding: 0 30px;
  }
}
